model_reasoning_effort = "high"
hide_agent_reasoning = true
network_access = true

notify = ["zsh", "-lc", "afplay -v 0.1 /System/Library/Sounds/Funk.aiff"]

[tools]
web_search = true

[mcp_servers.context7]
command = "npx"
args = ["-y", "@upstash/context7-mcp@latest"]

[mcp_servers.playwright]
command = "npx"
args = ["@playwright/mcp@latest", "--vision"]

[mcp_servers.serena]
command = "uvx"
args = [
  "--from",
  "git+https://github.com/oraios/serena",
  "serena",
  "start-mcp-server",
  "--context",
  "codex",
]
